.homepage {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .body {
    flex-grow: 1; // Ensures the body takes up the remaining space
    position: relative;

    .loading-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}

@media (max-width: 768px){
  .footer{
    display: none;
  }
}
