@import "../../../assets/styles/variables";

.footer {
  position: relative;

  .footer-background {
    position: relative;
    width: 100%;
    height: auto;

    .footer-img {
      width: 100%;
      height: auto;
      object-fit: cover; // Đảm bảo ảnh phủ toàn bộ
    }

    .content-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      .footer-logo {
        width: 100px;
      }

      .social-icons {
        i {
          font-size: 1.5rem;
          cursor: pointer;
        }

        i:hover {
          color: $app-primary;
        }
      }

      .footer-bottom {
        width: 100%;
        background-color: $app-primary;
        color: #fff;
        padding: 1rem 0;
        text-align: center;
        margin-top: 1rem;
        border-radius: 0 0 15px 15px;
      }
    }
  }

  // Responsive styles
  @media (max-width: 768px) {
    .content-box {
      padding: 15px; // Giảm padding cho màn hình nhỏ
    }

    .footer-logo {
      width: 80px; // Giảm kích thước logo cho màn hình nhỏ
    }

    .social-icons {
      i {
        font-size: 1.2rem; // Giảm kích thước icon cho màn hình nhỏ
      }
    }
  }
}
