@import "../../../assets/styles/variables";

.footer {
  position: relative;

  .footer-background {
    position: relative;
    width: 100%;
    height: auto;
    
    .footer-img {
      width: 100%;
      height: auto;
    }

    .content-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);  // Căn giữa nội dung với ảnh nền
      background-color: rgba(255, 255, 255, 0.9);  // Màu nền trắng với độ trong suốt
      border-radius: 15px;  // Bo tròn góc
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  // Tạo hiệu ứng đổ bóng

      .footer-logo {
        width: 100px;  // Kích thước logo
      }

      .social-icons {
        i {
          font-size: 1.5rem;
          cursor: pointer;
        }

        i:hover {
          color: $app-primary;
        }
      }

      // Footer bottom
      .footer-bottom {
        width: 100%;  // Đặt chiều rộng bằng với content-box
        background-color: $app-primary;
        color: #fff;
        padding: 1rem 0;
        text-align: center;
        margin-top: 1rem; // Thêm khoảng cách trên để không chạm vào phần trên
        border-radius: 0 0 15px 15px; // Bo tròn chỉ góc dưới cùng để khớp với box
      }
    }
  }
}