@import "../../../assets/styles/variables";

.body {
  .icon-img {
    width: 150px;
  }

  .background {
    position: relative;
    height: 100vh; // Đặt chiều cao 100% của viewport
    overflow: hidden; // Đảm bảo không có phần nào của ảnh tràn ra ngoài
  }

  .background img {
    object-fit: cover; // Đảm bảo ảnh nền bao phủ toàn bộ khung hình
    height: 100%;
  }

  .search-box {
    width: 100%;
    max-width: 800px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    .location {
      background-color: #fff;
      border-radius: 8px;
      padding: 10px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      color: $app-primary;
      border: 1px solid black;

      i {
        font-size: 20px;
        margin-right: 8px;
      }
    }

    .search-input {
      flex-grow: 1;
      border: none;
      padding: 12px;
      outline: none;
      border-radius: 8px;
      background-color: #fff;
      border: 1px solid black;
    }

    .filter-button {
      border-radius: 10px;
      padding: 12px;
      margin-left: 10px;
      display: flex;
      align-items: center;
      font-weight: 500;

      i {
        margin-right: 8px;
      }
    }
  }

  .features-section {
    margin-top: 50px;
    margin-bottom: 100px;

    .icon-container {
      background-color: #ffe9e4;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 20px;
      margin-bottom: 50px;
    }
  }

  .trending-carousel-wrapper {
    position: relative;

    .scroll-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 28px;
      cursor: pointer;
      padding: 15px;
      z-index: 10;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;

      &.left {
        left: -35px; // Điều chỉnh vị trí bên trái
      }

      &.right {
        right: -35px; // Điều chỉnh vị trí bên phải
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    .trending-carousel {
      display: flex;
      gap: 20px;
      overflow: hidden;
      transition: transform 0.5s ease-in-out;
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  // Responsive behavior to prevent overlapping elements on large screens
  @media (min-width: 1200px) {
    .content-wrapper {
      margin-top: 50px; // Adjust this to ensure the elements maintain proper spacing
    }
  }

  @media (max-width: 768px) {
    .search-box {
      margin-top: 200px; // Adjust on smaller screens
      padding: 20px;
    }

    .icon-img {
      width: 100px;
    }

    .features-section {
      margin-bottom: 50px;

      .icon-container {
        width: 80px;
        height: 80px;
      }
    }
  }
}
